doctype !html
html(xmlns:ng="http://angularjs.org" id="ng-app" ng-app="myApp")
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head_css
		title #{title} test
	body(ng-controller="mainCtrl")
		h2 Hello World
		block content
		
		block head_scripts