block currentWork
	//p= "it worked"
	//table
		//tr(ng-repeat="list in gone | createRows:'0 by 5'")
			//td(ng-repeat="list in gone" ng-if="inRow($parent.$index,$index,5)") {{list.title}}
	button(drag-box ="{over:over}") test {{currentValue}}
	div(drag-box="{start:over}") test
	button(test-a) t
	//button(label="Drag Me" draggable='true' ondragstart="event.dataTransfer.setData('text/plain', 'Drag Me Button');") test